/* DETAILS.CSS: stylesheet for PageDetails */

/* OVERVIEW SECTION */
#overview {
    scroll-margin-top: 5rem;
}

/* Backdrop Photo */
.backdrop-container {
    position: relative;
    width: 100vw;
    height: 60vh;
    margin-left: calc(50% - 50vw);
}

.backdrop-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-position: center; 
}

/* Gradient filter container: https://jsfiddle.net/hcr3Lmj1/2/ */ 
.backdrop-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        var(--bg-color),
        rgba(0,0,0,0) 75%
    );
    pointer-events: none;
}

.title-fav .favs-button svg {
   width: clamp(48px, 6vw, 96px) !important;
   height: auto !important;
   display: block;
}

#overview p {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

/* Rating Container */
#rating-container {
    border: 5px solid white;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rating-container p {
    margin: 0;
    font-weight: 700;
}

.info-rating {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
}

.info-rating p {
    line-height: 1.5;
    margin-bottom: 0;
}

/* Explore Link */
.explore-content {
    color: var(--link-color);
    font-weight: 700;
    font-size: clamp(1rem, 2vw, 1.25rem);
    position: absolute;
    bottom: 5vw;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    text-decoration: none;
    text-align: center;
}

/* Link states */
.explore-content:hover {
    color: var(--hover-color);
}


/* CAST SECTION */

/* Cast Layout */
.cast-layout {
    display: flex;
    gap: 2.5rem;
    overflow-x: auto;
    max-width: 100%;
}

.cast-card {
    text-align: center;
}

/* Cast Photo */
.circular-cast-photo {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    overflow: hidden;
}

.cast-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* TRAILER SECTION */
iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.trailer-container {
    aspect-ratio: 16 / 9;
}

/* EXPLORE MORE SECTION */
#explore-container {
    display: flex;
    overflow-x: auto;
    column-gap: 2.5rem;
}

#explore-container p {
    margin-top: 0;
}

.movie-card-details {
    position: relative;
    cursor: pointer;
    flex: 0 0 10rem;
}

.movie-card-details img {
    width: 100%;
    height: auto;
    display: block; 
}

.card-details-popup p{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width:80%;
    font-size: 0.75rem;
}

#details-rating{ 
   top: 50%;
   left: 55%;
   font-size: 0.67rem;
}