.favs-area{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.favs-button{
    background-color: transparent;
    border: none;
    padding: 0;
}

.favs-card{
    position: relative;
}
.favs-icon{
    position: absolute;
    top: -3%;
    right: -8%;
}

.favs-button svg:hover{
    fill: var(--text-color);
    transition-duration: 0.3s;
}

/* testing styling for favs icon */
.movie-detail-heading{
    display: flex;
}

.movie-detail-heading svg{
    height: auto;
    width: 4rem;
    
}
