.favs-header{
    font-size: 3rem;
    }
.favs-area{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}

.favs-button{
    background-color: transparent;
    border: none;
    padding: 0;
}

.favs-card{
    position: relative;
}
.favs-icon{
    position: absolute;
    top: -3%;
    right: -8%;
}

.favs-button svg:hover{
    fill: var(--text-color);
    transition-duration: 0.3s;
}

.favs-filter-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* testing styling for favs icon */
.movie-detail-heading{
    display: flex;
}

.movie-detail-heading svg{
    height: auto;
    width: 4rem;
    
}

@media(min-width:675px){
    .favs-header{
    font-size: 4rem;
    }
}