/* HEADER.CSS: stylesheet for Header.jsx */
:root {
    --logo-color: #e8edf3;
    --link-color: #5d8bec;
    --hover-color: #e8edf3;
}

/* Nav-links */
#nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #000000;
    padding-bottom: 0.5rem;
}

.nav-bar-content {
    display: flex;
    justify-content: center;
}

/* Nav list (Home/Favourites/About) */
#nav-bar ul {
    /* Reset  link defaults */
    list-style: none;

    /* Flex styling */
    display: flex;
    width: 100%;

    /* Position at bottom of screen */
    padding: 1rem 0;
    margin: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: space-evenly;
    z-index: 100;

    background-color: var(--accent-color);
}

/* Nav links + logo */
#nav-bar ul li a, #logo {
    /* Reset link defaults */
    text-decoration: none;
}

/* Logo */
#logo {
    font-family: "Oleo Script", system-ui;
    font-weight: 700;
    font-style: italic;
    font-size: 3rem;
    color: var(--logo-color);
}

/* Home/About/Favorites links */
.nav-links {
    color: var(--link-color);
    font-family: "Poppins", sans-serif;
    font-size: 1.25rem;
}

/* Link states */
.nav-links:hover {
    color: var(--hover-color);
}
 
@media(min-width: 64em) {
    .nav-bar-content {
        display: flex;
        justify-content: space-between;
        max-width: 75rem;
        margin: 0 auto;
        padding: 0 2rem;
        align-items: baseline;
        margin: 0 auto;
    }

    #nav-bar ul {
        position: static;
        width: auto;
        gap: 5rem;
        background-color: var(--bg-color);
    }
}