/* MAIN.CSS: stylesheet for general styling */

/* VARIABLES */
:root {
    /* Fonts */
    --body-font: "Rubik";
    --heading-font: "Poppins";

    /* Colors */
    --bg-color: #000000;
    --text-color: #e8edf3;

    /* Scrolling - used for jump to section links */
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* LAYOUT */

/* Site Wrapper */
.wrapper {
    max-width: 75rem;
    margin: 0 auto;
    padding: 0 2rem;
}

/* TYPOGRAPHY */

/* Body - Rubik */
body {
    font-family: var(--body-font), sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5;

    /* Colors */
    background-color: var(--bg-color);
    color: var(--text-color);
}

p {
    max-width: 40rem;
}

/* Headings - Poppins */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font), sans-serif;
    font-weight: 700;
    font-style: normal;
}

h1 {
    font-size: 4rem;
    margin: 0;
}